
.cards{
    width: 100% !important;
    height: 100vh !important;
    background-color: '#847E7E' !important;
    display: flex;
    justify-content: space-around;
}
.card1{
    width: 17% !important;
    height: 100vh !important;
    
}
.card2{
    width: 80% !important;
    height: 100vh !important;
}
.feedback{
    width: 80% !important;
    margin: 100px auto;
    /* height:700 !important; */
    overflow:'scroll'
}
.message{
    display: flex !important;
    justify-content: space-between !important;
  
}
.btns{
    margin-top: 30px;

    height: 25% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parking{
    background-color: dimgray !important;
    height: 100vh !important;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: flex-start;
overflow: auto !important;
}

.avaailableParkingYellow{
    height: 180px !important;
    width: 230px !important;
margin: 20px;
background-color: yellow !important;
}
.avaailableParkingRed{
    height: 180px !important;
    width: 230px !important;
margin: 20px;
background-color: red !important;
}
.availText{
    font-size: 25px !important;
    margin-top: 10px !important;
}
.messageSend{
    width: 100% !important;
    height: 50px !important;
    margin:20px auto ;
    background-color: wheat !important;
}
.reply{
    width: 100% !important;
    height: 50px !important;
    margin:20px auto ;
    background-color: greenyellow !important;
}
.noreply{
  display: none;
}
.slots{
display: flex;
flex-wrap: wrap;
width: 960px !important;
height: 600px;
margin: 0px auto;
/* border: 1px solid red; */
justify-content: space-between;
overflow:'scroll';

}
.slot{
    width: 70px;
    height: 70px;
    /* border: 1px solid greenyellow; */
    overflow:'scroll'!important;
}
.cardBook{
    width:400px;
    height: 420px;
    margin: 100px auto;
}
.modalInp{
    width: 300px !important;
    margin: 10px 50px !important;
}
.modaltext{
    font-size: 25px !important;
}
.modalbtn{
    margin: 10px 150px !important;
}
.selectInput{
    display:'flex' !important;
    flex-direction:'row' !important;
    justify-content:'space-between' !important;

}
.btnImg{
   width:120px !important;
   height:100px !important;
   display:'flex' !important;
   flex-direction:'column ' !important;
   margin-left:15px;
  /* background-color: #333333  !important; */
}
.btnImg1{
    width:100px !important;
    height: 100px !important;
    transform: rotate(90deg);
    margin-left:20 !important;
},
text:{
    font-size:30px;
    /* position:'relative';
    left:20px; */
    z-index:1 !important;
}
